
<form method="POST" action="https://staticman.net/v3/entry/github/juliocjd/pautas-socioeducativas/master/contribuicoes" class="staticman-form">
  <input name="options[redirect]" type="hidden" value="/pautas/pec-18-2025/?submited=true">
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  
  <div class="form-group">
    <label for="parlamentar-nome">Parlamentar:</label>
    <input type="text" class="form-control" id="parlamentar-nome" name="fields[parlamentar-nome]" readonly>
  </div>

  <div class="form-group">
    <label for="seu-nome">Seu Nome (opcional):</label>
    <input type="text" class="form-control" id="seu-nome" name="fields[name]">
  </div>

  <div class="form-group">
    <label for="seu-email">Seu E-mail (opcional):</label>
    <input type="email" class="form-control" id="seu-email" name="fields[email]">
  </div>

  <div class="form-group">
    <label for="mensagem">Mensagem / Evidência:</label>
    <textarea class="form-control" id="mensagem" name="fields[mensagem]" rows="3" required placeholder="Descreva a informação e, se possível, inclua um link para uma notícia, vídeo ou foto como prova."></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Enviar Contribuição</button>
</form>

<script>
  $('#modalContribuicao').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var parlamentarNome = button.data('nome') // Extract info from data-* attributes
    var modal = $(this)
    modal.find('.modal-title').text('Enviar informação sobre: ' + parlamentarNome)
    modal.find('#parlamentar-nome').val(parlamentarNome)
  })
</script>

