/* Adicione seus estilos personalizados aqui */
.jumbotron {
  background-color: #e9ecef;
  padding: 2rem;
}

.table th {
  white-space: nowrap;
}

/* Estilo para o modal */
.modal-body .form-group {
  margin-bottom: 1rem;
}

/* Tentativa Suave para corrigir espaço em branco nas abas */
#modalEnviarInfo .modal-body .tab-content > .tab-pane:not(.active) {
  height: 0;
  overflow: hidden;
  opacity: 0; /* Mantém a transição fade do Bootstrap */
}
#modalEnviarInfo .modal-body .tab-content > .tab-pane.active.show {
  height: auto; /* Garante que a aba ativa tenha altura */
  overflow: visible;
  opacity: 1;
}
/* Remove margem superior extra do primeiro elemento DENTRO da aba ativa */
#modalEnviarInfo .tab-pane.active.show > *:first-child {
  margin-top: 0;
}
